<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BD_CondominioEntities" connectionString="metadata=res://*/ModelCondominio.csdl|res://*/ModelCondominio.ssdl|res://*/ModelCondominio.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERVIDOR-01\SQLEXPRESS;Initial Catalog=BD_Condominio;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>